<html>
  <body>

   
    <h1 style="font-size:30px">Cloudenvi is an environment sustainability platform to upload and access all the blog files, ideas related to sustainability </h1>
    <p>This is a paragraph.</p>

    </style>
    
  </body>
<div class="row mt-5">
  <title>
    Heelo
  </title>
  
  <style>
  body  {
  background-image: url("paper.gif");
  background-color: #97b0ba;
}

    body {
      font-family: "Times New Roman", Times, serif;
      font-size: 1px;
    }
    
    * {
      box-sizing: border-box;
    }
    .container {
  position: relative;
  border-radius: 5px;
  background-color: #97b0ba;
  padding: 20px 0 30px 0;
} 
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-color: green;
  border-radius: 10px;
  margin: 3px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}
</style    
  
  <div class="col-md-6 m-auto"> 
      <div class="card card-body text-center">
      <h1>Cloudenvi</h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
  </div>
  </div>
  </html>